header{
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
     border-bottom: solid 2px white;
    
}

 .top-section {
   background-image: url("/img/header.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   height: 600px;
   
 }
 
 .content {
   color: white;
   background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100%;
 }

 img{
    width: 100px;
    height: 100px;
    margin-top: 70px;
       
}

.pa{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    color: white;
    line-height: 25px;
}

h2 {
    font-family: 'Courgette';
    font-size: 31px;
    padding-bottom: 10px;
}

p { 
    font-size: 16px;
    color: grey;
    font-family: 'Oswald';
}

h4 {
    font-family: 'Courgette';
    font-size: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

h1{
    font-family: 'Courgette', cursive;
    color: white;
    margin-top: 30px;
 }



 .bu {
    width: 180px;
    height: 35px;
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: white;
    color: black;
    font-family: 'Oswald';
}

.input {
    font-family: 'Oswald';
    width: 180px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.icons {
    display: flex;
}

.icons i {
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 50px 50px;
    

}

.grid{
    display: flex;
    flex-wrap: wrap;
    
}

.grid-items{
  padding-bottom: 20px;
  padding-right: 40px;
  font-family: 'Oswald';
  
}

.pad{
    padding-top: 25px;
}

.pa{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    color: white;
    line-height: 25px;
}

.in{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid white;
    background-color: black;
    color: white;
    font-family: 'Oswald';
}

.form-label{
    padding-top: 40px;

}

.fab {
    color: black;
    background-color: white;
    margin: 3px;
}
 